version: '2.2'
services:
  elasticsearch:
      build:
        context: elasticsearch/
      volumes:
        - ./elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
      ports:
        - "9200:9200"
        - "9300:9300"
      environment:
        ES_JAVA_OPTS: "-Xmx256m -Xms256m"
      networks:
        nodejs:
          aliases:
            - elasticsearch

networks:
  nodejs:
    external: true